<!DOCTYPE html>
<html>
  <head>
    <title>FamCook</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <!-- 固定ヘッダー -->
  <%= render "shared/header" %>

  <!-- メインエリア（スクロール許可） -->
  <main class="scroll-area">
    <%= yield %>  <!-- 各ページの内容 -->
  </main>

  <!-- 固定フッター -->
  <%= render "shared/footer" %>
</body>
</html>
